<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="5e8v3-02o54_files/style.css" />
	</head>
	<body>
		<div class="stl_01">
			<object data="5e8v3-02o54_files/img_01.svg" type="image/svg+xml" class="stl_02">
				<embed src="5e8v3-02o54_files/img_01.svg" type="image/svg+xml" class="stl_02" />
			</object>
			<div class="stl_03"><span class="stl_04">Contract Information / Deal Sheet</span></div>
			<div class="stl_05"><span class="stl_06">ATTENTION:</span></div>
			<div class="stl_07"><span class="stl_08">Marc Lawrence Brick, Esq.</span></div>
			<div class="stl_09"><span class="stl_08">Tel:&nbsp;&nbsp;(516)596-6000</span></div>
			<div class="stl_10"><span class="stl_08">Email:&nbsp;&nbsp;Marc@mbricklaw.com</span></div>
			<div class="stl_11"><span class="stl_08">Marc Lawrence Brick, Esq.</span></div>
			<div class="stl_12"><span class="stl_08">366</span></div>
			<div class="stl_13"><span class="stl_08">Pearsall Ave., Suite 1, Cedarhurst, NY 11516</span></div>
			<div class="stl_14"><span class="stl_08">Main Phone: 516-596-6000&nbsp;&nbsp;Fax: 516-561-1003</span></div>
			<div class="stl_15"><span class="stl_08">Date:</span></div>
			<div class="stl_16"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_17"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_18"><span class="stl_08">Salesperson:</span></div>
			<div class="stl_19"><span class="stl_08">Purchase Name:</span></div>
			<div class="stl_20"><span class="stl_08">Purchaser Social Security #:</span></div>
			<div class="stl_21"><span class="stl_08">Purchaser Date of Birth:</span></div>
			<div class="stl_22"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_23"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_24"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_25"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_26"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_27"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_28"><span class="stl_08">2nd Purchaser Name:</span></div>
			<div class="stl_29"><span class="stl_08">2nd Purchaser Social Security #:</span></div>
			<div class="stl_30"><span class="stl_08">2nd Purch Date of Birth:</span></div>
			<div class="stl_31"><span class="stl_08">Purchaser’s Address:</span></div>
			<div class="stl_32"><span class="stl_08">Email Address:</span></div>
			<div class="stl_33"><span class="stl_08">Home Phone #:</span></div>
			<div class="stl_34"><span class="stl_08">Cell Phone #:</span></div>
			<div class="stl_35"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_36"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_37"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_38"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_39"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_40"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_41"><span class="stl_42">	</span></div>
			<div class="stl_43"><span class="stl_42">Ofﬁce	Phone	#:	</span></div>
			<div class="stl_44"><span class="stl_08">Fax #:</span></div>
			<div class="stl_45"><span class="stl_08">New Home Address:</span></div>
			<div class="stl_46"><span class="stl_08">Unit Name:</span></div>
			<div class="stl_47"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_48"><span class="stl_49">Select model...</span></div>
			<div class="stl_50"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_51"><span class="stl_08">Unit Purchase Price:</span></div>
			<div class="stl_52"><span class="stl_08">Upgrades:</span></div>
			<div class="stl_53"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_54"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_55"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_56"><span class="stl_08">____________________________________________________</span></div>
			<div class="stl_57"><span class="stl_08">Yes</span></div>
			<div class="stl_58"><span class="stl_08">Unit Deposit (10%):</span></div>
			<div class="stl_59"><span class="stl_08">Unit Balance Due at Closing:</span></div>
			<div class="stl_60"><span class="stl_08">Contingent Upon Financing:</span></div>
			<div class="stl_61"><span class="stl_62">Please turn over</span></div>
			<div class="stl_63"><span class="stl_64">115</span></div>
			<div class="stl_65"><span class="stl_64">Winterton Rd.&nbsp;&nbsp;Bloomingburg&nbsp;&nbsp;NY 12721</span></div>
			<div class="stl_66"><span class="stl_64">info@BloomingburgHomes.com</span></div>
			<div class="stl_67"><span class="stl_68">845.476.3045</span></div>
			<div class="stl_69"><span class="stl_70">BloomingburgHomes.com</span></div>
		</div>
		<div class="stl_01">
			<object data="5e8v3-02o54_files/img_02.svg" type="image/svg+xml" class="stl_02">
				<embed src="5e8v3-02o54_files/img_02.svg" type="image/svg+xml" class="stl_02" />
			</object>
			<div class="stl_71"><span class="stl_72">Purchaser’s Attorney:</span></div>
			<div class="stl_73"><span class="stl_72">Firm:</span></div>
			<div class="stl_74"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_75"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_76"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_77"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_78"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_79"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_80"><span class="stl_72">Address:</span></div>
			<div class="stl_81"><span class="stl_72">Phone #:</span></div>
			<div class="stl_82"><span class="stl_72">Fax #:</span></div>
			<div class="stl_83"><span class="stl_72">Email Address:</span></div>
			<div class="stl_84"><span class="stl_85">	Sales	Ofﬁce	to	provide	offering	plan:&nbsp;&nbsp;&nbsp;$25.00	fee	credited	to	purchaser	at	closing</span></div>
			<div class="stl_86"><span class="stl_72">Listing Broker:</span></div>
			<div class="stl_87"><span class="stl_72">Brokerage Firm:</span></div>
			<div class="stl_88"><span class="stl_72">Address:</span></div>
			<div class="stl_89"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_90"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_91"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_92"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_93"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_94"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_95"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_96"><span class="stl_72">Phone #:</span></div>
			<div class="stl_97"><span class="stl_72">Fax #:</span></div>
			<div class="stl_98"><span class="stl_72">Email Address:</span></div>
			<div class="stl_99"><span class="stl_72">Commission Amount:</span></div>
			<div class="stl_100"><span class="stl_72">Co-Broker:</span></div>
			<div class="stl_101"><span class="stl_72">Address:</span></div>
			<div class="stl_102"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_103"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_104"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_105"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_106"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_107"><span class="stl_72">Fax #:</span></div>
			<div class="stl_108"><span class="stl_72">Phone #:</span></div>
			<div class="stl_109"><span class="stl_72">Email Address:</span></div>
			<div class="stl_110"><span class="stl_72">Brokerage Agreement Executed:&nbsp;&nbsp;&nbsp;</span><span class="stl_111">q </span><span class="stl_72">Yes&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="stl_111">q </span><span class="stl_72"> No</span></div>
			<div class="stl_112"><span class="stl_72">Notes:</span></div>
			<div class="stl_113"><span class="stl_72">Purchaser will have 7 business days to execute a purchase agreement</span></div>
			<div class="stl_114"><span class="stl_72">with a deposit of 10% of purchase price.</span></div>
			<div class="stl_115"><span class="stl_72">Please see the Offering Plan for all details.</span></div>
			<div class="stl_116"><span class="stl_72">Additional Information/Comments:</span></div>
			<div class="stl_117"><span class="stl_72">Sponsor Signature:</span></div>
			<div class="stl_118"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_119"><span class="stl_72">___________________________________________________</span></div>
			<div class="stl_120"><span class="stl_72">___________________________________________________</span></div>
		</div>
	</body>
</html> 
